{% extends "base.html" %}

{% block content %}
    <h1>Диалоги</h1>
    <table>
        {% for item in dialogs %}
        <tr>
            <td>
                {% if item.user_f == user %}
                <a type="button" class="btn btn-secondary" href="/dialog/{{item.id}}"> {{item.user_s}} </a>
                {% else %}
                <a type="button" class="btn btn-secondary" href="/dialog/{{item.id}}"> {{item.user_f}} </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}