{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<style>
    .mr-3 {
        margin-top: -50px;
    }
    .container-main {
        margin-top: 70px;
    }
    .col-md-6 {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    img{
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
</style>

<div class="container-main">
<div class="media">
    {% if user.avatar %}
    <img class="mr-3" src="{{url_for('static', filename=user.avatar)}}" alt="Generic placeholder image" width="20%">
    {% else %}
    <img class="mr-3" src="{{url_for('static', filename='1.jpg')}}" alt="Generic placeholder image" width="20%">
    {% endif %}
    <div class="media-body">
        <h3 class="mt-0"> {{user.username}} </h3>
        <h6> {{user.about_me}} </h6>
        {% if me == 0 %}
        <a href="/edit"> edit</a>
        {% else %}
        {% if me.is_following(user) %}
        <a class="btn btn-secondary" href="/unfollow/{{user.id}}">Отписаться </a>
        <a class="btn btn-primary" href="/dialog/{{user.id}}">Написать сообщение </a>
        {% else %}
        <a class="btn btn-primary" href="/follow/{{user.id}}">Подписаться </a>
        <a class="btn btn-primary" href="/to_dialog/{{user.id}}">Написать сообщение </a>
        {% endif %}
        {% endif %}
    </div>
</div>
<div class="container">
    {% if me == 0 %}
    <div class="row justify-content-md-center">
        <div class="col-md-12" id="end">
            {{ wtf.quick_form(form, action="") }}
        </div>
    </div>
    {% endif %}
    {% for item in posts %}
    <div class="row justify-content-md-start">
        <div class="col-md-12">
            {% include '_post.html' %}
        </div>
    </div>
    {% endfor %}
</div>
</div>


{% endblock %}