{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<style>
    .dial {
        height: 500px;
        width: 100%;
        background: #faeac8;
        border: 0px;
        overflow: auto;
        margin-top: 30px;
    }
    .row {
        margin-right: 0px;
    }
</style>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <div class="dial" id="element">
            {% for item in letters %}
            {% if item.recipient_id == user %}
            <div class="row justify-content-md-end">
                {% if item.size() > 100 %}
                <div class="col-md-6">
                    {% include '_msg.html' %}
                </div>
                {% else %}
                <div class="col-md-auto">
                    {% include '_msg.html' %}
                </div>
                {% endif %}
            </div>
            {% else %}
            <div class="row justify-content-md-start">
                {% if item.size() > 100 %}
                <div class="col-md-6">
                    {% include '_msg.html' %}
                </div>
                {% else %}
                <div class="col-md-auto">
                    {% include '_msg.html' %}
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-12" id="end">
                    {{ wtf.quick_form(form, action="") }}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    element.scrollTop = element.scrollHeight;
</script>

{% endblock %}