{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-9" style="height: 500px;">
            {% for item in letters %}
            {% if item.recipient_id == user %}
            <div class="row justify-content-md-end">
                {% if item.size() > 100 %}
                <div class="col-md-6">
                    <div class="alert alert-primary" role="alert">
                        {{item.body}}
                    </div>
                </div>
                {% else %}
                <div class="col-md-auto">
                    <div class="alert alert-primary" role="alert">
                        {{item.body}}
                    </div>
                </div>
                {% endif %}
            </div>
            {% else %}
            <div class="row justify-content-md-start">
                {% if item.size() > 100 %}
                <div class="col-md-6">
                    <div class="alert alert-primary" role="alert">
                        {{item.body}}
                    </div>
                </div>
                {% else %}
                <div class="col-md-auto">
                    <div class="alert alert-primary" role="alert">
                        {{item.body}}
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            <div class="row justify-content-md-center">
                <div class="col-md-12" id="end">
                    {{ wtf.quick_form(form, action="") }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}